@using NetPinProc.Domain.Players;
@inject HttpClient Http

<MudPaper Width="300px" Height="200px">
    @if(Players?.Length > 0)
    {
        <MudCard>

            <MudCardHeader>
                <MudStack Row=true>
                    <MudBadge Icon="@Icons.Material.Filled.Person" Color="Color.Secondary" />
                    <MudText>PLAYERS</MudText>
                </MudStack>
            </MudCardHeader>

            <MudCardContent>
                <MudSimpleTable Style="overflow-x: auto;">
                    <thead>
                        <tr>
                            <th>Name</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Players)
                        {
                            <tr>
                                <td>@p.Name</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </MudCardContent>
        </MudCard>        
    }
</MudPaper>

@code 
{
    Player[] Players;

    protected override async Task OnInitializedAsync()
    {
        try
        {
           Players = await Http.GetFromJsonAsync<Player[]>("/players");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
